{% extends "base.html" %}

{% block content %}
<section class="py-5">
	<div class="container py-5">
	  <div class="row mb-4 mb-lg-5">
		<div class="col-md-8 col-xl-6 text-center mx-auto">
		  <p class="fw-bold text-success mb-2">Authorize</p>
		  <h2 class="fw-bold">Connect your Square account</h2>
		</div>
	  </div>
	  <div class="row d-flex justify-content-center">
		<div class="col-md-6 col-xl-4">
		  <div class="card">
			<div class="card-body text-center d-flex flex-column align-items-center">
			  <div class="bs-icon-xl bs-icon-circle bs-icon-primary shadow bs-icon my-4">
				<svg xmlns="http://www.w3.org/2000/svg"
					 width="1em"
					 height="1em"
					 fill="currentColor"
					 viewBox="0 0 16 16"
					 class="bi bi-link-45deg">
				  <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1.002 1.002 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4.018 4.018 0 0 1-.128-1.287z">
				  </path>
				  <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243L6.586 4.672z">
				  </path>
				</svg>
			  </div>
				<div class="mb-3">
					<a href="{{ authorization_url }}"><button class="btn btn-primary shadow d-block w-100">Authorize</button></a>
				</div>
				<p class="text-muted"></p>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </section>
{% endblock content %}